{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="padding-top: 10px;">
    <div class="d-flex row p-5 text-white bg-info" id="bienvenida" style="align-items: center;">
        <div class="p-3 col-sm">
            <h1 class="pb-4">Bienvenidos</h1>
            <p class="pt-1">
                Estimados estudiantes, se les extiende la más cordial bienvenida a este espacio,
                donde podrán encontrar información relevante a la unidad de aprendizaje conocida como Gestión
                Empresarial. <br /><br />

                Podrán consultar los contenidos de cada unidad en sus respectivas secciones en la barra de navegación
                que se encuentra en la parte superior. Haga scroll hacia abajo para ver los puntos clave que conforman
                esta unidad.
            </p>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="starter-template bg-white">
        <a class="anchor" id="metodologia"></a>
        <div class="d-flex row p-5" style="align-items: center;">
            <div class="p-3 col-sm">
                <h1 class="pb-4">Metodolog&iacute;a</h1>
                <p class="pt-1">
                    La unidad 2 se abordará a partir de la estrategia de aprendizaje orientada a proyectos y método
                    deductivo e inductivo, lo cual permitirá la utilización de las siguientes técnicas de aprendizaje:
                </p>
                <ul>
                    <li>Indagación documental</li>
                    <li>Discusión dirigida</li>
                    <li>Trabajo colaborativo</li>
                    <li>Práctica de laboratorio</li>
                    <li>Exposición de temas complementarios en equipo</li>
                    <li>Herramientas Considerar Variables (CV) y Considerar Objetivos o Propósitos (COP)</li>
                </ul>
                <p class="pt-1">
                    La unidad contribuye a la creación de un proyecto empresarial aplicando la gestión estratégica.
                </p>
            </div>
            <div class="p-3 col-sm d-none d-lg-block text-center">
                <img src="{% static 'main/metodologia.png'%}" class="img-fluid my-auto" alt="Responsive image">
            </div>
        </div>
        <a class="anchor" id="ucompetencia"></a>
        <div class="d-flex row p-5" style="align-items: center; background-color: #e3f2fd;">

            <div class="px-3 pt-2 col-sm d-none d-lg-block mx-auto text-center">
                <img src="{% static 'main/ucompetencia.png'%}" class="img-fluid text-center my-auto" alt="Responsive image">
            </div>
            <div class="pr-3 pt-2 col-sm">
                <h2 class="pb-4">Unidad de competencia</h2>
                <p>
                    En ésta unidad se busca que los estudiantes gestionen organizaciones de innovación
                    tecnol&oacute;gica con base en competencias gerenciales.
                </p>
                <h2 class="pb-4">Propósito de la unidad de aprendizaje</h2>
                <p>
                    Gestiona organizaciones de innovación tecnológica con base en competencias gerenciales.
                </p>
                <h2 class="pb-4">Intención educativa</h2>
                <p>
                    La unidad de aprendizaje contribuye al perfil de egreso del ingeniero en sistemas computacionales desarrollando las competencias directivas de liderazgo, toma de decisiones bajo condiciones de riesgo e incertidumbre, manejo de grupos de trabajo, capacidad de negociación, manejo de conflictos, orientación al cambio y a la innovación permanente, para gestionar organizaciones con una actitud emprendedora, ética y de responsabilidad social.
                </p>
            </div>
        </div>
        <a class="anchor" id="evaluacion"></a>
        <div class="d-flex row p-5" style="align-items: center;">
            <div class="p-3 col-sm">
                <h1 class="pb-4">Evaluaci&oacute;n</h1>
                <p class="pt-1">
                    Se realizará una evalaución diagnóstica, y posteriormente se ensamblará un portafolio de evidencias,
                    el cual consiste de los siguientes puntos con sus respectivos valores:
                </p>
                <ul>
                    <li>Trabajo Colaborativo - 10%</li>
                    <li>Exposición en equipo - 15%</li>
                    <li>CV y COP - 10%</li>
                    <li>Rúbricas de autoevaluación y coevaluación - 5%</li>
                    <li>Integración del proyecto - 15%</li>
                    <li>Práctica 1 - 15%</li>
                    <li>Evidencia de aprendizaje escrita - 30%</li>
                </ul>
            </div>
            <div class="p-3 col-sm d-none d-lg-block text-center">
                <img src="{% static 'main/evaluacion.png'%}" class="img-fluid my-auto" alt="Responsive image">
            </div>
        </div>
        <a class="anchor" id="contactos"></a>
        <div class="d-flex row px-5 pt-5 justify-content-center" style="background-color: #e3f2fd;">
            <h1 class="pb-4">Contactos</h1>
        </div>
        <div class="d-flex row px-5 pb-5" style="background-color: #e3f2fd;">

            <div class="col-sm justify-content-center text-center ">
                <h4>Rocío Palacios Solano</h4><br/>
                <img src="{% static 'main/rocio.png'%}" width="200" class="img-fluid" alt="">
                <p class="pt-3">
                    Docente en ESCOM <br/>
                    rpalacioss@ipn.mx <br/>
                    Ext. 52032 <br/>
                    Project Manager en IPN <br/>
                </p>
                <p class="pt-3">
                    Áreas de interés: Administración de Proyectos PMI, Gobernanza IT, Seguridad de la Información, Desarrollo de aplicaciones.  <br/>
                </p>
            </div>
            <div class="col-sm justify-content-center text-center">
                <h4>Verónica Agustín Domínguez</h4><br/>
                <img src="{% static 'main/veronica.png'%}" width="200" class="img-fluid" alt="">
                <p class="pt-3">
                    ESCOM-IPN  Depto. de ISC profesora titular desde 2009. <br/>
                    vaguistin@ipn.mx <br/>
                    Ext. 52032 <br/>
                    Mtra. ESCA Sto. Tomas IPN 
                </p>
                <p class="pt-3">
                    Áreas de interés: Gestión Empresarial, Desarrollo de Proyectos, Educación, mejora continua, Emprendimiento. 
                </p>
                
            </div>
            <div class="col-sm justify-content-center text-center">
                <h4>Axel Ernesto Moreno Cervantes</h4><br/>
                <img src="{% static 'main/axel.png'%}" width="200"  class="img-fluid " alt="">
                <p class="pt-3">
                    Doctor en Educación (CUGS) en 2020. <br/>
                    M. en C. (CINVESTAV) en 2004. <br/>
                    Ingeniero en Sistemas Computacionales (ESCOM-IPN) en 2000.  <br/>
                    Profesor del Depto ISC (ESCOM-IPN) desde 2004.  <br/>
                    axelernesto@gmail.com <br/>
                    Ext. 52032
                </p>
                <p class="pt-3">
                    Áreas de interés: Sistemas distribuidos, educación. 
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block extra_css%}
<style>
    #bienvenida {
        height: 100%;
        background: url("{% static 'main/background1.png'%}") !important;
        background-size: auto;
        background-position: bottom;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgb(230,230,230);
    }

    a.anchor {
        display: block;
        position: relative;
        top: -112px;
        visibility: hidden;
    }
</style>
{% endblock%}