{% extends 'base.html' %}
{% block content %}
	<div style="padding-top: 7px;">
        <div class="text-white text-center mx-auto p-2 bg-gradient border border-dark" style="background-color: {{ this_unit.header_color }};">
			<h2 style="margin-bottom: 0"> {{this_unit.name}}</h2>
        </div>

        <div class="col col-md-10 p-3 mx-auto">

            <div class="bg-light p-4 rounded border border_acccent soft_accent">
                <h2 id="objetivo">Objetivo</h2>
                <p class="font-weight-bold">
                	{{ this_unit.goal }}
                </p>
            </div>
            <div class="p-4">
                <h6>Esta unidad consta de {{ subunits | length}} subtema(s). Haga click en una sección para revelar sus contenidos.</h6>
            </div>
            <!-- Contenido -->
            <div>
                {% for item in subunits %}
                    <div class="card mb-3">
                        <div class="card-header softer_accent" id="heading_{{item.order}}">
                                <button class="btn btn-link font-weight-bold" data-toggle="collapse" data-target="#collapse_{{item.order}}"
                                    aria-expanded="true" aria-controls="collapse_{{item.order}}">
                                    {{item.order_as_str}} {{item.name}}
                                </button>
                                {% if item.keywords %}
                                    <h6 class="card-subtitle ml-3 text-muted">Keywords: {{ item.keywords }}</h6>
                                {% endif %}
                        </div>

                        <div id="collapse_{{item.order}}" class="collapse multi-collapse" aria-labelledby="heading_{{item.order}}">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column justify-content-start" id="internaldiv">
                                    {{item.contents | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css%}
<style type="text/css">
    .border_accent, {
        border: 1px solid {{ this_unit.header_color  }} !important;
    }
    .btn-link {
        color: {{ this_unit.header_color  }};
    }
    /* Radial effects so that it doesn't look like garbage */
    .soft_accent{
        background: repeating-radial-gradient(
            circle at -2%,
            {{ this_unit.header_color  }}2f,
            {{ this_unit.header_color  }}2f 10px,
            {{ this_unit.header_color  }}10 10px,
            {{ this_unit.header_color  }}10 20px
        );
    }
    /* Even softer, around 6% opacity */
    .softer_accent{
        background: {{ this_unit.header_color  }}10 !important;
    }
</style>
{% endblock%}