{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div style="padding-top: 10px;">
        <div class="text-white text-center mx-auto p-2 bg-gradient border border-dark" style="background-color: {{ this_unit.header_color }};">
			<h2 style="margin-bottom: 0"> {{this_unit.name}}</h2>
        </div>

        <div class="col col-md-11 p-3 mx-auto">

            <div class="bg-light p-4 rounded border border_acccent soft_accent">
                <h2 id="objetivo">Objetivo</h2>
                <p class="font-weight-bold">
                	{{ this_unit.goal }}
                </p>
            </div>
            <div class="p-4">
                <h6>Esta unidad consta de {{ subunits | length}} subtema(s). Haga click en una sección para revelar sus contenidos.</h6>
            </div>
            <!-- Contents -->
            <div class="row">
                <div class="col-12 col-md-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="main-contents" data-toggle="pill" href="#v-main-contents" role="tab" aria-controls="v-main-contents" aria-selected="true">Contenidos</a>
                        <a class="nav-link" id="selfassesment-contents" data-toggle="pill" href="#v-selfassessment-contents" role="tab" aria-controls="v-selfassessment-contents" aria-selected="false">Autoevaluación</a>
                        <a class="nav-link" id="evaluation-contents" data-toggle="pill" href="#v-evaluation-contents" role="tab" aria-controls="v-evaluation-contents" aria-selected="false">Evaluación</a>
                    </div>
                </div>
                <div class="col-12 col-md-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Content sub-section -->
                        <div class="tab-pane fade show active" id="v-main-contents" role="tabpanel" aria-labelledby="main-contents">
                            <div>
                                {% for item in subunits %}
                                    <div class="card mb-3">
                                        <div class="card-header softer_accent" id="heading_{{item.order}}">
                                            <button class="btn btn-link font-weight-bold" data-toggle="collapse" data-target="#collapse_{{item.order}}"
                                                aria-expanded="true" aria-controls="collapse_{{item.order}}">
                                                {{item.order_as_str}} {{item.name}}
                                            </button>
                                            {% if item.keywords %}
                                                <h6 class="card-subtitle ml-3 text-muted">Keywords: {{ item.keywords }}</h6>
                                            {% endif %}
                                        </div>
                
                                        <div id="collapse_{{item.order}}" class="collapse multi-collapse" aria-labelledby="heading_{{item.order}}">
                                            <div class="card-body p-4">
                                                <div class="d-flex flex-column justify-content-start" id="internaldiv">
                                                    {{item.contents | safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Content sub-section end -->
                        <!-- Content sub-section (self-assesment) start-->
                        <div class="tab-pane fade show " id="v-selfassessment-contents" role="tabpanel" aria-labelledby="selfassessment-contents">
                            {{ this_unit.assessment_html | safe}}
                            <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe loading="lazy" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/625af435f8dc320011f3709d" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                        <!-- Content sub-section (self-assesment) end -->
                        <!-- Content sub-section (evaluation) start-->
                        <div class="tab-pane fade show " id="v-evaluation-contents" role="tabpanel" aria-labelledby="evaluation-contents">
                            <!-- <iframe loading="lazy" src="{% static 'main/eval.pdf'%}" width="100%" height="500px" frameborder="0"></iframe> -->
                            {{ this_unit.assessment_resource | safe}}
                        </div>
                        <!-- Content sub-section (evaluation) end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css%}
<style type="text/css">
    .border_accent, {
        border: 1px solid {{ this_unit.header_color  }} !important;
    }
    /* Side-bar active color */
    .nav-pills .nav-link.active, .nav-pills .show >.nav-link {
        background-color: {{ this_unit.header_color  }};
    }
    /* Cards link color */
    .btn-link {
        color: {{ this_unit.header_color  }};
    }
    /* Radial effects so that it doesn't look like garbage */
    .soft_accent{
        background: repeating-radial-gradient(
            circle at -2%,
            {{ this_unit.header_color  }}2f,
            {{ this_unit.header_color  }}2f 10px,
            {{ this_unit.header_color  }}10 10px,
            {{ this_unit.header_color  }}10 20px
        );
    }
    /* Even softer, around 6% opacity */
    .softer_accent{
        background: {{ this_unit.header_color  }}10 !important;
    }
</style>
{% endblock%}